body {
    background: rgb(226, 226, 233);
    padding: 100px;
    margin: 100px;
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
  }
  
  input, button {
    font-family: 'Lexend', sans-serif;
    font-weight: 900;
  }

#email_field {
  margin-top: 50px;
  display: block;
  padding: 15px;
  width: 20%;
  margin-bottom: 20px;
}
#password_field {
  display: block;
  padding: 15px;
  width: 20%;
  margin-bottom: 10px;
}
  .container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  
  .box {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    width: 60px;
    cursor: move;
  }

  .box.over {
    border: 3px dotted rgb(211, 206, 206);
  }
  .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
